/.local-ai/

.DS_Store
.env
.env.*
!.env.example

/server/.env
/server/api
/server/bin/
/server/coverage.out

/web/node_modules/
/web/.vercel/
/web/dist/
/web/coverage/
/web/playwright-report/
/web/test-results/
